<app-header></app-header>

<mat-card class="wrapper-card">
  <mat-card-content class="flex-container">

    <mat-card-title>Dashboard</mat-card-title>

    <mat-card-content>
      Examples:
      <div>
        <a routerLink="/instances/create/templateId?folderId=optionalFolderId">/instances/create/templateId?folderId=optionalFolderId</a>
      </div>
      <div>
        <a routerLink="/instances/edit/instanceId">/instances/edit/instanceId</a>
      </div>

    </mat-card-content>


  </mat-card-content>
</mat-card>
